.DS_Store
*.tmp
node_modules
/src/app/config/client.json
/src/app/config/icon.ico
/src/app/config/icon.png
/src/app/config/common.json
/src/app/config/default.pac
/dist/
package-lock.json
/src/clients/*

/src/plugins/shadowsocks/*

/src/app/tools/shadowsocks/windows/ss_win_temp/*
/src/app/tools/shadowsocks/windows/gui-config.json
/src/app/tools/shadowsocks/mac/ShadowsocksX-NG.app/*
