smartbrowser-setup.exe
smartbrowsering-setup.exe
smartbrowserbin.zip
smartbrowserbin.7z
/install-script/dwinshs/examples/Output/*
/install-script/client_info.iss
/install-script/safety-browser.ico

/download
/site
/bin-release/debug.log
/bin-release/Dictionaries
/bin-release/resources/app.asar
/bin-release/safety-browser.exe
/bin-release/install.exe
/bin-release/info.json
/bin-release/app/lang/*.json
/bin-release/app/default.pac
/bin-release/app/lib/client.json
/bin-release/app/package.json

*.sublime-*

.DS_Store
main_theme_plugin/Cached Theme.pak
/subrion_cms_4.0.5
/system_admin/public/browser/smartbrowserbin.7z
/main_theme_plugin.zip
/safe_admin_plugin.zip
/browser_app/node_modules
/browser_app/SmartBrowser-*

composer.lock
.php_cs.cache

safetybrowser-setup*.exe
safetybrowser*setup.exe

node_modules

/clients/*.exe.zip
/clients/*/safety-browser.exe
safetybrowser*.zip

*.tmp